body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, skyblue, magenta);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.25);
    padding: 30px;                
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

p {
    margin: 0 0 15px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;               
    border: 1px solid #444;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;                 
    border: none;
    background: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 14px;
}

#qrbox {
    width: 250px;                 
    height: 250px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

#qrimg {
    width: 100%;
    height: 100%;
}
